.glow {
  animation: move 5s linear infinite;
  offset-path: rect(0% auto 100% auto);
  background: radial-gradient(#a855f7, #ec4899, transparent);
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }

  100% {
    offset-distance: 100%;
  }
}
