:root {
  --inset: 1vmin;
  --color0: #417E38;
  --color1: #222;
  --duration: 5s;
  --bgcolor0: #417E38;
  --bgcolor1: #222a;
}

/* body {
  display: grid;
  place-content: center;
  block-size: 100vh;
} */

/* body::before {
  content: '';
  display: block;
  inline-size: 100vw;
  block-size: 100vh;
  position: fixed;
  background: linear-gradient(-45deg, var(--bgcolor0) 60%, var(--bgcolor1) 0), 
              linear-gradient(to top left, var(--bgcolor0) 50%, var(--bgcolor1) 0), 
              linear-gradient(to bottom left, var(--bgcolor0) 50%, var(--bgcolor1) 0), 
              linear-gradient(135deg, var(--bgcolor0) 20%, var(--bgcolor1) 0);
} */

.com {
  block-size: 40vmin;
  inline-size: 40vmin;
  display: grid;
  place-items: center;
  rotate: 45deg;
  overflow: hidden;
  box-shadow: inset 0 0 10px black, 0 0 10px black;
  filter: drop-shadow(0 0 10px var(--color0)) saturate(2);
}

.com .th {
  inline-size: 100%;
  block-size: 100%;
  overflow: hidden;
  -webkit-clip-path: inset(var(--inset));
  clip-path: inset(var(--inset));
}

.com .th img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  rotate: -45deg;
  scale: 1.6;
}

.com::before {
  content: '';
  display: block;
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  background: repeating-conic-gradient(transparent, var(--color0) 25deg, var(--color1) 22.5deg, transparent 90deg);
  -webkit-animation: var(--duration) f linear infinite;
  animation: var(--duration) f linear infinite;
  scale: 1.6;
}

@-webkit-keyframes f {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 1turn;
  }
}

@keyframes f {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 1turn;
  }
}

@supports not (rotate: 0deg) {
  .com {
    transform: rotate(45deg);
  }
  .com .th img {
    transform: rotate(-45deg) scale(1.6);
  }
  .com::before {
    transform: scale(1.6);
    -webkit-animation-name: g;
    animation-name: g;
  }
  @-webkit-keyframes g {
    0% {
      transform: rotate(0) scale(1.6);
    }
    100% {
      transform: rotate(1turn) scale(1.6);
    }
  }
  @keyframes g {
    0% {
      transform: rotate(0) scale(1.6);
    }
    100% {
      transform: rotate(1turn) scale(1.6);
    }
  }
}
